<!DOCTYPE html>
<html class="no-js" lang="en">
<head>


    <meta charset="utf-8">
    <title>Shout Out Strong</title>
    <meta name="description" content="">
    <meta name="author" content="">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/vendor.css">
    <link rel="stylesheet" href="../static/main.css">


    <script src="../static/js/modernizr.js"></script>
    <script src="../static/js/pace.min.js"></script>



<title>
  OFA
</title>

</head>

<body id="top">

    <section class="s-content s-content--narrow">

        <div class="row">
            <form id="cForm" method="post" action="/" enctype="multipart/form-data">
                <fieldset>


                    <div class="form-field">
                        <input name="username" type="text" id="username" class="half-width" placeholder="username">
                    </div>

                    <div class="form-field">
                        <input name="password" type="password" id="password" class="half-width" placeholder="password">
                    </div>

                    <button type="submit" class="submit btn btn--primary full-width">sign up</button>
                    
                </fieldset>
            </form>
        </div>
    </section>

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

</body>

</html>